body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 62.5%;
}


.input {
    margin-bottom: 1.6rem;
}

.number {
    font-size: 1.3rem ;
    background: #eee;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    line-height: 3rem;
    cursor: pointer;
    user-select: none;
}
.number:hover {
    background: #ddd;
}
.wrapper {
  
    padding-bottom: 0.5rem;
}

.style {
    font-size: 1.3rem ;
    background: #eee;
    width: 3rem;
    height: 3rem;
    display: inline-block;
    line-height: 3rem;
    cursor: pointer;
    user-select: none;
}

.style:hover {
    background: #ddd;
}

#display {
    display: inline-block;
    font-size: 1.4rem;

}

#deleteElement {
    width: 4.5rem;
    height: 3rem;
}